p {
  text-align: center;
  margin-bottom: 24px;
  white-space: pre;
  font-size: 15px;
}
h1 {
  text-align: center;
}
.container {
  padding: 20px;
}
.mdc-dialog__actions {
  padding: 0;
}
.mat-mdc-dialog-actions {
  justify-content: center;
}
.mdc-button__label {
  color: white !important;
}
.mat-mdc-raised-button:not(:disabled) {
  color: white !important;
}
